main {
    text-align: center;
    box-sizing: border-box;
}

.box {
    max-width: 400px;
    min-height: 200px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
}

.box__img {
    position: absolute;
    width: 24px;
    top: 40%;
    left: 50%;
    padding: 20px;
}

.fly {
    width: 100%;
}